<h2>Editar usuario</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, label: "Correo Electrónico" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", label: 'Nueva Contraseña' %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", label: 'Repetir Nueva Contraseña' %>
  </div>

  <div class="field">
    <%= f.password_field :current_password, autocomplete: "off", label: "Contraseña Actual" %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar", :class => 'btn btn-success' %>
    <%= link_to "Atrás", :back, :class => 'btn btn-danger' %>
  </div>
<% end %>
