<p id="notice"><%= notice %></p>

<h1>Listado de  Contactos</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Mensaje</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contactos.each do |contacto| %>
      <tr>
        <td><%= contacto.nombre %></td>
        <td><%= contacto.email %></td>
        <td><%= contacto.mensaje %></td>
        <td><%= link_to 'Borrar', contacto, :class => 'btn btn-danger', method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Atrás', '/administrador', :class => 'btn btn-danger' %>
