<%= bootstrap_form_for(@empresa) do |f| %>
  <% if @empresa.errors.any? %>
    <div id="error_explanation">
      <h2>Existen errores</h2>
      <!--
      <ul>
      <% @empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>-->
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :titulo1, label: 'Título 1' %>
  </div>
  <div class="field">
    <%= f.text_area :titulo2, label: 'Título 2' %>
  </div>
  <div class="field">
    <%= f.text_area :texto1 %>
  </div>
  <div class="field">
    <%= f.text_area :texto2 %>
  </div>
   <div class="field">
    <%= f.file_field :imagen %>
  </div>

  <div class="actions">
    <%= f.submit 'Actualizar', :class => 'btn btn-success' %>
    <%= link_to 'Atrás', '/administrador', :class => 'btn btn-danger' %>
  </div>
<% end %>
