<p id="notice"><%= notice %></p>

<div class="row">
      <div class="col-md-12">
            <h1><%=@empresa.titulo1%></h1>
            <p align="justify" style="margin-top:5px;">
                  <%= @empresa.texto1%>
            </p>
            <h1><%=@empresa.titulo2%></h1>
            <p align="justify" style="margin-top:5px;">
                  <%= @empresa.texto2%>
            </p>
            <img class="img-responsive formato_imagen" src="<%=@empresa.imagen.url%>">
      </div>
</div>
