<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo1:</strong>
  <%= @empresa.titulo1 %>
</p>

<p>
  <strong>Titulo2:</strong>
  <%= @empresa.titulo2 %>
</p>

<p>
  <strong>Texto1:</strong>
  <%= @empresa.texto1 %>
</p>

<p>
  <strong>Texto2:</strong>
  <%= @empresa.texto2 %>
</p>

<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
