<p id="notice"><%= notice %></p>

<p>
  <strong>Texto1:</strong>
  <%= @inicio.texto1 %>
</p>

<p>
  <strong>Texto2:</strong>
  <%= @inicio.texto2 %>
</p>

<%= link_to 'Edit', edit_inicio_path(@inicio) %> |
<%= link_to 'Back', inicios_path %>
